name: Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build the website
        run: cd website && curl https://raw.githubusercontent.com/arcanis/mael.dev-docs/main/install.sh | tee /dev/stderr | bash

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./website/build

  deploy:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
